# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual environments
# ===============================
venv/
.env/
.env.*
projectenv/
# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Data (raw & processed)
# ===============================
data/
data/raw/
data/processed/

# ===============================
# Model artifacts
# ===============================
models/
*.pkl
*.joblib
*.h5
*.pth

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/
notebook/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/


# ===============================
# jpeg files that i have used for testing other than evaluation
*.jpeg
*.jpg   
*.png

*.log